  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Lato:wght@400;700&family=Murecho&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600&family=Raleway:wght@400;500&family=Red+Hat+Display:wght@400;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Sora:wght@400;500;600;700&display=swap');
 :root{
    text-align: center;
    font-family: 'Geologica', sans-serif;


box-sizing: border-box;
font-family: 'IBM Plex Serif', serif;
font-family: 'Murecho', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
 font-family: 'Sora', sans-serif; 

 --text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7),
 -2px -2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
--text-deep-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6),
 -2px -2px 10px rgba(0, 0, 0, 0.5), 2px 2px 10px rgba(0, 0, 0, 0.5);

   
 }

 body{
   background-image: url(./images/image_optimizer_2bkg.png);
  background-size: cover;
  background-repeat: no-repeat;
   background-position: center;
 }
 button{
   background-color: rgb(196, 226, 252);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
font-family: 'Red Hat Display', sans-serif;
 }

 .button-block{
   background-color: rgba(193, 206, 250, 0.938);
    border-radius: 20px;
    padding-inline-start: 20px;
    margin:auto;
    margin-bottom: 20px;
    width: 500px;
    height: fit-content;
    border: solid 3px black;
 }
 h1{
   color: red;
   text-shadow: var(--text-deep-shadow);
 }